.card {
	background-color: $blue;
	border-radius: 2px;

	display: block;

	color: whitesmoke;

	padding: 12px;

	&-title {
		font-size: 1.5rem;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	&-content {
		color: rgba(255, 255, 255, 0.9);
		font-weight: lighter;
	}
}