.card {
	background-color: whitesmoke;
	border-radius: 2px;

	display: block;

	color: lighten($color: #000000, $amount: 15%);

	padding: 12px;

	&-title {
		font-size: 1.5rem;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	&-content {
		color: lighten($color: #000000, $amount: 30%);
	}
}