@import "colors";

.navbar {
	padding: 16px 0;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: grid;

	grid-template-columns: auto auto auto;

	align-items: baseline;

	&-brand {
		display: flex;
	}

	&-logo {
		font-size: 1.5rem;
		color: whitesmoke;
		text-decoration: none;
	}

	&-items {
		float: right;
		grid-column: 3;
		list-style: none;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&-link {
		text-decoration: none;
		color: whitesmoke;
		font-size: 1rem;
		position: relative;
		
		&::after {
			position: absolute;
			content: '';
			height: 4px;
			bottom: -8px;
			left: 0;
			right: 0;
			width: 0%;
			background-color: $light-blue;
			transition: .2s width;
		}

		&:hover::after {
			width: 100%;
		}
	}

}