@import "colors";

.navbar {
	padding: 16px 0;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: grid;

	grid-template-columns: auto auto auto;
	grid-template-areas: "logo blank nav";

	align-items: baseline;

	&-brand {
		display: flex;
		text-align: center;
	}

	&-logo {
		font-size: 1.5rem;
		color: whitesmoke;
		text-decoration: none;
		grid-area: logo;
		text-align: center;
	}

	&-items {
		float: right;
		grid-area: nav;
		list-style: none;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-inline-start: 0px;
	}

	&-item {
		display: block;
		margin: 8px;
	}

	&-link {
		text-decoration: none;
		color: whitesmoke;
		font-size: 1rem;
		position: relative;
		
		&::after {
			position: absolute;
			content: '';
			height: 4px;
			bottom: -8px;
			left: 0;
			right: 0;
			width: 0%;
			background-color: $light-blue;
			transition: .2s width;
		}

		&:hover::after {
			width: 100%;
		}
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas: "logo" "nav";

		&-logo {
			font-size: 2rem;
		}
	}

	@media screen and (max-width: 624px) {
		&-items {
			flex-direction: column;
			align-items: center;
		}
	}
}