@import "elements/navigation";
@import "elements/buttons";
@import "elements/headers";

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
	font-family: "Lato", "Helvetica Neue", sans-serif;
	color: whitesmoke;
}

body {
	background-color: #112233;
}