@import "elements/navigation";

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
	font-family: "Lato", "Helvetica Neue", sans-serif;
}

body {
	background-color: #112233;
}