@import "elements/navigation";
@import "elements/buttons";
@import "elements/headers";
@import "elements/cards";
@import "elements/testimonials";
@import "elements/footer";
@import "elements/forms";

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
	font-family: "Lato", "Helvetica Neue", sans-serif;
	color: whitesmoke;
}

body {
	background-color: #112233;
	min-height: 100vh;
}

body, html {
	margin: 0;
	padding: 0;
}

#call-to-action {
	display: inline-block;
}

main {
	width: 100%;
	max-width: 900px;
	margin: 56px auto;

	#main-features {
		grid-template-columns: 1fr 1fr;
		display: grid;
		column-gap: 16px;
		row-gap: 16px;

		@media screen and (max-width: 768px) {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
		}
	}
	
	#testimonials {
		margin-top: 56px;
	}

	#pricing-overview {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 16px;
		row-gap: 16px;

		@media screen and (max-width: 768px) {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
		}

		.price {
			position: relative;
			left: -50px;

			&::after {
				content: '/month';
				position: absolute;
				left: calc(100% + 3px);
				top: 5px;
				font-size: 0.75rem;
			}
		}
	}
}

hr {
	border: 1px solid $blue;
}

p {
	line-height: 1.5em;
	margin-bottom: 2rem;
}

a {
	color: $light-blue;
}